*.apk
*.aar
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/
release/

.gradle/
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml

*.jks
*.keystore

.externalNativeBuild
.cxx/

google-services.json

freeline.py
freeline/
freeline_project_description.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

vcs.xml

lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/reports/

gen-external-apklibs
output.json

.externalNativeBuild



*.ctxt

.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*


.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/contentModel.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

.idea/**/gradle.xml
.idea/**/libraries

.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

cmake-build-*/

.idea/**/mongoSettings.xml

*.iws


.idea_modules/

atlassian-ide-plugin.xml

.idea/replstate.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/httpRequests

.idea/caches/build_file_checksums.ser


*.iml
modules.xml
.idea/misc.xml
*.ipr

.idea/**/sonarlint/

.idea/**/sonarIssues.xml

.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

.idea/$CACHE_FILE$

.idea/codestream.xml

*~

.fuse_hidden*

.directory

.Trash-*

.nfs*

.DS_Store
.AppleDouble
.LSOverride

Icon


._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

[Mm]emoryCaptures/

![Aa]ssets/**/*.meta

[Aa]ssets/AssetStoreTools*

[Aa]ssets/Plugins/Editor/JetBrains*

.vs/


ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.unitypackage


InitTestScene*.unity.meta
InitTestScene*.unity



*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.ipa

*.xcodeproj
*.xcworkspace
*.opensdf
*.sdf
*.VC.opendb

SourceArt/**/*.png
SourceArt/**/*.tga

Binaries/
Plugins/*/Binaries/

Build/

!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

!Build/**/*.ico

*_BuiltData.uasset

Saved/

Intermediate/
Plugins/*/Intermediate/

DerivedDataCache/

Build/IOS/Resources/
Build/IOS/Resources/Graphics/
!Build/IOS/Resources/Graphics/*.png
Build/Android/res/
!Build/Android/res/*/*.png

[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

Session.vim
Sessionx.vim

.netrwhist
tags
[._]*.un~

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.history
.ionide

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp

*.lnk


xcuserdata/

*.xcscmblueprint
*.xccheckout

DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

*.gcno

*.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings






.gradle

.signing/




build/
local.properties
out
production
*.ipr
*.swp

*.jks
*.keystore

google-services.json



obj/

out/

.idea/caches/
.idea/libraries/
.idea/shelf/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/jarRepositories.xml

.DS_Store?

.classpath
.project
.cproject
.settings/





mpeltonen/sbt-idea plugin


.idea/mongoSettings.xml



!gradle/wrapper/gradle-wrapper.jar

